<div class="head">
  <h1><%= @station.name %></h1>
  <p><%= link_to "Edit", edit_station_path(@station), :class => "btn btn-default" %></p>
  <p><%= link_to "Delete", station_path(@station),
                           :data => {:confirm => "You sure?",
                                     :method => "delete"},
                           :class => "btn btn-danger" %></p>
    <p><%= link_to "Go back", stations_path %></p>
</div>

<div class="content">
  <h3>Lines</h3>
  <ul>
    <% @station.lines.each do |line| %>
      <li><%= link_to line.name, line_path(line) %></li>
    <% end %>
  </ul>
</div>


